@import "tailwindcss";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --color-bg: #f5f7ff;      
  --color-text: #22223b;    
  --color-muted: #9a8c98;   
  --color-border: #c9ada7;  
  --color-accent: #f3722c;  
  --color-panel: #ffffff;
}

.dark {
  --color-bg: #232946;      
  --color-text: #eebbc3;    
  --color-muted: #b8c1ec;   
  --color-border: #393e46;  
  --color-accent: #f9bc60;  
  --color-panel: #1a1a2e;
}

textarea::placeholder {
  color: var(--color-muted);
  opacity: 1; 
}
